<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Data Mahasiswa</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<div class="table-container">
    <h2>Data Mahasiswa</h2>
    <div class="header">
        <button class="button-href back" onclick="location.href='../..'">Kembali</button>
        <form action="/mahasiswa/cari">
            <input type="text" name="query" placeholder="Cari mahasiswa berdasarkan NIM atau nama">
        </form>
    </div>
    <table class="mahasiswa">
        <tr>
            <th>NIM</th>
            <th>Nama</th>
            <th>Alamat</th>
            <th>Tanggal Lahir</th>
        </tr>
        <tr th:each="mahasiswa : ${dataMahasiswa}">
            <td th:text="${mahasiswa.nim}"></td>
            <td th:text="${mahasiswa.name}"></td>
            <td th:text="${mahasiswa.address}"></td>
            <td th:text="${#dates.format(mahasiswa.birthday, 'dd-MM-yyyy')}"></td>
        </tr>
    </table>
    <h3 th:if="${dataMahasiswa.size() == 0}">Data mahasiswa tidak ditemukan</h3>
</div>
</body>
</html>
