<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tambah Data Mahasiswa</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>

<br/>
<div class="form-container">
    <h3>Data berhasil ditambahkan!</h3>
    <p th:text="${mahasiswa.getName()}"></p>
    <p th:text="${mahasiswa.getNim()}"></p>
    <p th:text="${mahasiswa.getAddress()}">}</p>
    <p th:text="${mahasiswa.getBirthday()}"></p>
    <a th:href="@{/mahasiswa}">
        <button class="button-href">Lihat Data Mahasiswa</button>
    </a>
</div>

</body>
</html>